

/*Background Wallpaper*/
body {
		background-color: #000;
		background-image: url("../images/background2.jpg");
		background-size: cover;
		background-position: top center;
}


/* Header */

#header {
	text-align: center;
	padding: 6em 0 4em 0;
}


#header .avatar {
	border-radius: 100%;
	display: inline-block;
	margin: 0 0 2em 0;
	padding: 0.5em;
	border: solid 1px rgba(255, 255, 255, 0.25);
	background-color: rgba(255, 255, 255, 0.075);
}

#header .avatar img {
	border-radius: 100%;
	display: block;
	width: 10em;
}

/*#header h1 {
	color: rgba(255, 255, 255, 0.65);
}*/

h2#page-header {
    padding-top:20px;
    padding-bottom:20px;
    color: white;
}


/* Footer */

	#footer {
		text-align: center;
		padding: 10em 0 10em 0;
        color: white
	}

.flbackdrop {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 99999; /*Making sure its on top*/
  position:absolute
}